$--knit-primary:rgb(57, 61, 80);
$--knit-secondary :rgba(57, 61, 80, 0.051);
$--knit-success: rgb(5, 158, 5);
$--knit-failure : rgb(255, 0, 0);
$--knit-awaiting :rgb(255, 228, 126);
$--knit-grey:rgba(57, 61, 80, 0.7);
$--knit-lightgrey:rgba(57, 61, 80, 0.5);
$--knit-branding :rgb(255, 108, 55);
$--knit-branding-alt:rgba(255, 213, 164, 0.25);
$--k-primary:var(--knit-primary, $--knit-primary);
$--k-secondary :var(--knit-secondary, $--knit-secondary);
$--k-branding:var(--knit-branding, $--knit-branding);
$--k-branding-alt:var(--knit-branding-alt, $--knit-branding-alt);
$--k-success: var(--knit-success, $--knit-success);
$--k-failure : var(--knit-failure, $--knit-failure);
$--k-awaiting :var(--knit-awaiting, $--knit-awaiting);
$--k-grey:var(--knit-grey, $--knit-grey);
$--k-lightgrey:var(--knit-lightgrey, $--knit-lightgrey);