.signup-form{
    margin-top: 5rem;
    margin-left: 5.9rem;
    margin-right: 11.3rem;
    
    .signup-btn-box{
        display: flex;
        justify-content: space-around;
        margin-bottom: 2.43rem;
    }

    .ant-btn-default{
        // padding-top: 20px;
        // padding-bottom: 20px;
        margin-right: 1.25rem;
    }

    .form{
        margin-top: 2.063rem;
    }

    .information-container{
        margin-top: 1.25rem;
    }
   

}